{% extends 'base.html.twig' %}

{% block body %}

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="{{ asset('assets/img/hero-bg.jpg') }}" alt="" data-aos="fade-in" class="">

        <div class="container d-flex flex-column align-items-center text-center mt-auto">
            <h2 data-aos="fade-up" data-aos-delay="100" class="hero-title">16<sup>èmes</sup><br><span>JOURNÉES MÉDICALES</span><br>DE L'AMJ</h2>
            <p data-aos="fade-up" data-aos-delay="200" class="hero-subtitle">7 et 8 Février 2026, Hôtel Palm Azur, Djerba</p>
            <p data-aos="fade-up" data-aos-delay="250" class="hero-subtitle-2">4<sup>èmes</sup> Rencontres Maghrebines</p>
        </div>

        <div class="about-info mt-auto position-relative">

            <div class="container position-relative" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>À propos de l'événement</h2>
                        <p>Les 16<sup>èmes</sup> Journées Médicales de l'Amicale des Médecins de Jerba (AMJ) s'inscrivent dans le cadre des 4<sup>èmes</sup> Rencontres Maghrebines. Cet événement rassemble les grands experts du domaine scientifique du Maghreb pour partager leurs connaissances et expériences. Les sommites sont toujours à Djerba, l'île de rencontre des experts.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>Lieu</h3>
                        <p>Hôtel Palm Azur<br>Djerba, Tunisie</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>Dates</h3>
                        <p>Vendredi et Samedi<br>7 et 8 Février 2026</p>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->

    <!-- Speakers Section -->
    <section id="speakers" class="speakers section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Conférenciers<br></h2>
            <p>Les grands experts du domaine scientifique sont parmi nous</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="{{ asset('assets/img/speakers/speaker-1.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="#">Dr. Exemple</a></h4>
                                <span>Spécialiste en médecine</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <img src="{{ asset('assets/img/speakers/speaker-2.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="#">Dr. Exemple 2</a></h4>
                                <span>Spécialiste en médecine</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="{{ asset('assets/img/speakers/speaker-3.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="#">Dr. Exemple 3</a></h4>
                                <span>Spécialiste en médecine</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="{{ asset('assets/img/speakers/speaker-4.jpg') }}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="#">Dr. Exemple 4</a></h4>
                                <span>Spécialiste en médecine</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Speakers Section -->

    <!-- Schedule Section -->
    <section id="schedule" class="schedule section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Programme<br></h2>
            <p>Découvrez le programme complet des deux journées de conférences médicales</p>
        </div><!-- End Section Title -->

        <div class="container">

            <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
                <li class="nav-item">
                    <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Vendredi 7 Février</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Samedi 8 Février</a>
                </li>
            </ul>

            <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

                <h3 class="sub-heading">Programme détaillé des conférences, ateliers et sessions plénières avec les experts du Maghreb.</h3>

                <!-- Schedule Day 1 -->
                <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

                    <div class="row schedule-item">
                        <div class="col-md-2 col-12 schedule-time"><time>09:30</time></div>
                        <div class="col-md-10 col-12 schedule-content">
                            <h4>Accueil et enregistrement</h4>
                            <p>Accueil des participants et distribution des badges.</p>
                        </div>
                    </div>

                    <div class="row schedule-item">
                        <div class="col-md-2 col-12 schedule-time"><time>10:00</time></div>
                        <div class="col-md-10 col-12 schedule-content">
                            <div class="speaker">
                                <img src="{{ asset('assets/img/speakers/speaker-1-2.jpg') }}" alt="Conférencier">
                            </div>
                            <h4>Conférence d'ouverture <span>Dr. Exemple</span></h4>
                            <p>Ouverture officielle des 16èmes Journées Médicales de l'AMJ.</p>
                        </div>
                    </div>

                </div><!-- End Schedule Day 1 -->

                <!-- Schedule Day 2 -->
                <div role="tabpanel" class="col-lg-9 tab-pane fade" id="day-2">

                    <div class="row schedule-item">
                        <div class="col-md-2 col-12 schedule-time"><time>09:00</time></div>
                        <div class="col-md-10 col-12 schedule-content">
                            <h4>Session plénière</h4>
                            <p>Conférences et échanges scientifiques.</p>
                        </div>
                    </div>

                </div><!-- End Schedule Day 2 -->

            </div>

        </div>
    </section><!-- /Schedule Section -->

    <!-- Venue Section -->
    <section id="venue" class="venue section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Lieu de l'événement<br></h2>
            <p>Hôtel Palm Azur Djerba - L'île de rencontre des sommites</p>
        </div><!-- End Section Title -->

        <div class="container-fluid" data-aos="fade-up">

            <div class="row g-0">
                <div class="col-lg-6 col-12 venue-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.1234567890123!2d10.8594!3d33.8081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDQ4JzI5LjIiTiAxMMKwNTEnMzMuOSJF!5e0!3m2!1sfr!2stn!4v1234567890123!5m2!1sfr!2stn" frameborder="0" style="border:0; width:100%; height:100%; min-height:300px;" allowfullscreen=""></iframe>
                </div>

                <div class="col-lg-6 col-12 venue-info">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-8 position-relative">
                            <h3 class="venue-title">Hôtel Palm Azur, Djerba</h3>
                            <p class="venue-description">L'Hôtel Palm Azur Djerba accueille les 16<sup>èmes</sup> Journées Médicales de l'AMJ dans un cadre exceptionnel. Situé sur l'île de Djerba, cet établissement de renom offre un environnement propice aux échanges scientifiques et professionnels. Djerba, l'île de rencontre des sommites, vous invite à découvrir ses charmes tout en participant à cet événement médical de grande envergure.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Venue Section -->

    <!-- Buy Tickets Section -->
    <section id="buy-tickets" class="buy-tickets section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Inscription<br></h2>
            <p>Inscrivez-vous dès maintenant pour participer aux 16<sup>èmes</sup> Journées Médicales de l'AMJ</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4 pricing-item" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <h3 class="pricing-title">Médecin</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <h4 class="pricing-price"><sup>DT</sup>200<span></span></h4>
                </div>
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <ul class="pricing-features">
                        <li><i class="bi bi-check"></i> <span>Accès aux conférences</span></li>
                        <li><i class="bi bi-check"></i> <span>Accès aux ateliers</span></li>
                        <li><i class="bi bi-check"></i> <span>Documentation scientifique</span></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="text-center"><a href="{{ path('app_registration') }}" class="buy-btn">S'inscrire</a></div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="row gy-4 pricing-item featured mt-4" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <h3 class="pricing-title">Résident / Interne</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <h4 class="pricing-price"><sup>DT</sup>100<span></span></h4>
                </div>
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <ul class="pricing-features">
                        <li><i class="bi bi-check"></i> <span>Accès aux conférences</span></li>
                        <li><i class="bi bi-check"></i> <strong>Tarif réduit</strong></li>
                        <li><i class="bi bi-check"></i> <span>Documentation scientifique</span></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="text-center"><a href="{{ path('app_registration') }}" class="buy-btn">S'inscrire</a></div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="row gy-4 pricing-item mt-4" data-aos="fade-up" data-aos-delay="300">
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <h3 class="pricing-title">Étudiant</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <h4 class="pricing-price"><sup>DT</sup>50<span></span></h4>
                </div>
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                    <ul class="pricing-features">
                        <li><i class="bi bi-check"></i> <span>Accès aux conférences</span></li>
                        <li><i class="bi bi-check"></i> <span>Tarif étudiant</span></li>
                        <li><i class="bi bi-check"></i> <span>Documentation scientifique</span></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="text-center"><a href="{{ path('app_registration') }}" class="buy-btn">S'inscrire</a></div>
                </div>
            </div><!-- End Pricing Item -->

        </div>

    </section><!-- /Buy Tickets Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Contactez-nous pour toute information concernant l'événement</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Adresse</h3>
                        <p>Hôtel Palm Azur<br>Djerba, Tunisie</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-telephone"></i>
                        <h3>Appelez-nous</h3>
                        <p>+216 XX XXX XXX</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope"></i>
                        <h3>Email</h3>
                        <p>contact@amj-djerba.tn</p>
                    </div>
                </div><!-- End Info Item -->

            </div>

        </div>

    </section><!-- /Contact Section -->

<style>
/* Mobile Responsive Styles for Home Page */
@media (max-width: 768px) {
    /* Hero Section */
    .hero-title {
        font-size: 1.8rem !important;
        line-height: 1.2;
    }
    
    .hero-subtitle {
        font-size: 0.95rem !important;
        margin-top: 10px;
    }
    
    .hero-subtitle-2 {
        font-size: 0.9rem !important;
        margin-top: 5px;
    }
    
    /* Schedule Section */
    .schedule-time {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 600;
    }
    
    .schedule-content {
        text-align: center;
    }
    
    .schedule .nav-tabs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .schedule .nav-tabs a {
        width: 100%;
        padding: 10px 20px !important;
    }
    
    /* Pricing Section */
    .pricing-item {
        padding: 20px 15px !important;
        margin-bottom: 20px;
        border-radius: 15px;
    }
    
    .pricing-title {
        font-size: 1.3rem !important;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .pricing-price {
        font-size: 2rem !important;
        margin-bottom: 15px;
    }
    
    .pricing-features {
        text-align: center;
        margin: 15px 0;
    }
    
    .pricing-features li {
        justify-content: center;
        margin-bottom: 8px;
    }
    
    .buy-btn {
        width: 100%;
        max-width: 250px;
        padding: 12px 30px !important;
        font-size: 0.95rem !important;
    }
    
    /* Venue Section */
    .venue-map {
        min-height: 250px;
        margin-bottom: 0;
    }
    
    .venue-title {
        font-size: 1.5rem !important;
        margin-bottom: 15px;
    }
    
    .venue-description {
        font-size: 0.95rem;
        line-height: 1.6;
    }
    
    /* Contact Section */
    .contact .info-item {
        margin-bottom: 20px;
        padding: 20px 15px !important;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 1.5rem !important;
    }
    
    .hero-subtitle {
        font-size: 0.85rem !important;
    }
    
    .pricing-price {
        font-size: 1.8rem !important;
    }
    
    .pricing-title {
        font-size: 1.1rem !important;
    }
    
    .venue-title {
        font-size: 1.3rem !important;
    }
}
</style>

{% endblock %}

